@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome and find your dream travel destination!</h1>
    <p>Learn about <a href="/destinations">different destinations</a> all over the world!</p>
</div>
