@{
  ViewData["Title"] = "Destinations";
}

<h1>View All Destinations!</h1>

<ol>
  @foreach (Destination destination in Model)
  {
    <li><strong>@destination.City</strong> in @destination.Country | <a href="/Destination/Details@(destination.DestinationId)">View Details</a></li>
  }
</ol>